* {
  margin: 0;
  padding: 0;
  line-height: 140%;
}

body {
  font-family: "TT Hoves";
  color: #222;
}

section {
  padding: 0 calc(10.6vw - 16px);
  margin-bottom: calc(11vw + 19px);
}

section:last-child {
  margin-bottom: 0;
}

.logo {
  width: calc(1vw + 181px);
  margin-top: 37px;
}

.courseData {
  margin-top: calc(6.3vw + 5px);
  margin-bottom: calc(3.2vw + 36px);
  display: flex;
  flex-wrap: wrap;
  gap: 30px 160px;
  font-size: 21px;
}

.courseInfo .value {
  font-weight: 700;
}

h1 {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Chava";
  font-size: calc(4.2vw + 26px);
  line-height: 110%;
  margin-bottom: 40px;
}

p {
  font-size: calc(1vw + 14px);
  font-weight: 300;
}

.cta {
  display: flex;
  gap: 20px 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.primary {
  flex-basis: 328px;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 20px 0px;
  border-radius: 12px;
  background: #6e3aba;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.secondary {
  flex-basis: 328px;
  flex-grow: 0;
  flex-shrink: 1;
  padding: 20px 0px;
  border-radius: 12px;
  border: 1px solid #6e3aba;
  background: white;
  color: #6e3aba;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.text {
  width: calc(48vw + 145px);
  flex-shrink: 1;
  flex-grow: 0;
  margin-top: 160px;
  font-size: 58px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 41px;
  margin-bottom: 41px;
  line-height: normal;
}

#lisiy {
  width: 287px;
  height: 287px;
}

#girl {
  width: 254px;
  height: 254px;
}

.first {
  flex-wrap: wrap;
  width: 450px;
  height: 506px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.second {
  width: 450px;
  height: 468px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.name {
  gap: 20px 100px;
  justify-content: start;
  font-size: 27px;
  width: 420px;
  font-weight: 600;
}

.description {
  justify-content: flex-start;
  width: 450px;
  font-size: 27px;
}

#boy {
  width: 192px;
  height: 192px;
}

.third {
  width: 432px;
  height: 468px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#altushka {
  width: 238px;
  height: 238px;
}
.fourth {
  width: 477px;
  height: 506px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.purple {
  background: #6e3aba;
}
h3 {
  font-size: calc(2vw + 27px);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.56;

  text-align: center;
}

.time {
  display: flex;
  justify-content: space-around;
  margin: calc(4vw + 5px) 0;
}

.timeblock {
  color: #2f1d4e;
}

.timeblock .number {
  font-family: "Chava";
  font-size: calc(12.6vw + 13px);
  line-height: 107.5%;
}

.timeblock .date {
  text-align: center;
  font-size: calc(1.9vw + 3px);
  font-weight: 500;
  text-transform: uppercase;
}

.center {
  margin: 0 auto;
}

section.purple {
  padding-top: calc(4.4vw + 23px);
  padding-bottom: calc(5.2vw + 22px);
}

section.hello {
  background-image: url(./img/html_css_js.png);
  background-repeat: no-repeat;
  background-position: right 20px top 70px;
  background-size: calc(23.8vw + 90px);
}

h4 {
  width: calc(77vw + 40px);
  font-size: calc(2.66vw + 24px);
  font-weight: 500;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  margin-bottom: calc(7.8vw - 9px);
}

.promise {
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(1vw + 14px);
}

.des {
  display: flex;
  width: calc(8vw + 298px);
  font-size: calc(1vw + 14px);
}

.total {
  width: calc(8vw + 298px);
}

.tot {
  display: flex;
  flex-wrap: wrap;
  gap: 90px 120px;
}

h2 {
  font-size: calc(2.6vw + 24px);
  font-weight: 500;
  letter-spacing: 0.58px;
  text-transform: uppercase;
}

.legend {
  margin-top: calc(5.5vw + 19px);
  display: flex;
  gap: 20px 50px;
}

.ym {
  flex-basis: 200px;
  flex-grow: 1;
}

.ym img {
  width: 100%;
}

.bio {
  flex-basis: 460px;
  flex-grow: 3;
}

.bio h3 {
  color: #222;
  text-transform: capitalize;
  text-align: left;
  font-size: calc(1vw + 34px);
}

.achievments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(1vw + 26px) calc(8.8vw - 23px);
  margin-top: calc(5.5vw + 19px);
}

.achievments span {
  display: block;
  margin-top: 10px;
  font-size: calc(0.5vw + 14px);
}

.inf {
  margin-top: 30px;
}

.tabb {
  border: 2px solid black;
  padding: calc(4.4vw + 23px) calc(4.9vw + 2px) calc(1.3vw + 18px);
  position: relative;
}

#corner {
  width: calc(8vw);
  position: absolute;
  top: -2px;
  right: -2px;
}

.tex {
  font-size: calc(2.6vw + 24px);
  font-weight: 500;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.tek {
  font-size: calc(o.5vw + 14px);
  border-bottom: 1px #a1a1a1 solid;
  margin-top: 24px;
  padding: 24px 0;
}
.primary {
  width: calc(10.7vw + 288px);
  margin-top: 34px;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 700px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .tek:nth-child(7) {
    border: 0;
    padding-bottom: 0;
  }
}

section.space {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "a c";
}

.space img {
  grid-area: a;
  width: calc(11vw + 301px);
  height: calc(7.9vw + 200px);
  flex-shrink: 0;
}
.space h2 {
  grid-area: b;
  letter-spacing: 0.58px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(2.7vw + 24px);
}

.space p {
  grid-area: c;
  font-size: calc(1vw + 14.3px);
}

@media (max-width: 700px) {
  section.space {
    grid-template-columns: 1fr;
    grid-template-areas:
      "b"
      "a"
      "c";
  }
}

.salar {
  width: calc(44vw + 161px);
  height: calc(5vw + 141px);
  font-size: calc(2.7vw + 24px);
  text-align: left;
  font-weight: 500;
  letter-spacing: 0.58px;
  text-transform: uppercase;
  color: var(--typo-black, #222);
  margin-bottom: 100px;
}
.opiss {
  width: calc(60.5vw + 100px);
  font-size: calc(1vw + 14px);
  color: var(--typo-black, #222);
  margin-bottom: 100px;
}

.hh {
  width: calc(81.4vw + 2.6px);
  height: calc(23.6vw + 7.3px);
  flex-shrink: 0;
}

.wish {
  display: flex;
}

.will {
  margin-bottom: 30px;
}

.box {
  margin-bottom: 25px;
  display: flex;
  width: calc(21.6vw + 246.7px);
  font-size: calc(0.3vw + 16.7px);
}

.infff {
  width: calc(20.2vw + 252px);
  font-size: calc(2.7vw + 24px);
  margin-bottom: calc(5vw + 15px);
  font-weight: 500;
  letter-spacing: 0.58px;
  text-transform: uppercase;
}

.infself {
  grid-template-columns: 2fr 2fr;
  grid-template-areas:
    "a a c c"
    "a a d d"
    "b b e e"
    "b b f f";
}

#cup {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  grid-area: a;
}
.itpark {
  width: calc(10.8vw + 287.3px);
  font-size: calc(0.5vw + 20px);
  font-weight: 600;
  text-transform: uppercase;
  grid-area: b;
}
.black {
  font-size: calc(2.7vw + 24px);
  width: calc(-14.2vw + 381px);
  font-weight: 700;
  letter-spacing: 0.58px;
  grid-area: c;
  color: var(--typo-black, #222);
}
.type {
  width: 252px;
  font-size: 16px;
  grid-area: d;
  color: var(--typo-black, #222);
}
.blackk {
  font-size: calc(2.7vw + 24px);
  width: calc(-14.2vw + 381px);
  font-weight: 700;
  letter-spacing: 0.58px;
  grid-area: e;
  color: var(--typo-black, #222);
}
.typee {
  width: 252px;
  font-size: 16px;
  grid-area: f;
  color: var(--typo-black, #222);
}
